<LightController>
  <LightManagers>
    <LightBrickManager>
      <LightBrick name="Brick1" ipaddress="192.168.0.8" port="12344" id="brick8"/>
      <LightBrick name="Brick2" ipaddress="192.168.0.9" port="12344" id="brick9"/>
      <LightBrick name="Brick3" ipaddress="192.168.0.10" port="12344" id="brick10"/>
      <LightBrick name="Brick4" ipaddress="192.168.0.11" port="12344" id="brick11"/>
      <LightBrick name="Brick5" ipaddress="192.168.0.12" port="12344" id="brick12"/>
      <LightBrick name="Brick6" ipaddress="192.168.0.13" port="12344" id="brick13"/>
      <LightBrick name="Brick7" ipaddress="192.168.0.14" port="12344" id="brick14"/>
      <LightBrick name="Brick9" ipaddress="192.168.0.16" port="12344" id="brick16"/>
      <LightBrick name="Brick10" ipaddress="192.168.0.17" port="12344" id="brick17"/>
    </LightBrickManager>
    <DMXLightManager ipaddress="192.168.0.3" universe="1">
      <DMXLight name="Fresco1" number="0" id="dmx0"/>
      <DMXLight name="Fresco2" number="1" id="dmx1"/>
      <DMXLight name="Fresco3" number="2" id="dmx2"/>
      <DMXLight name="Fresco4" number="3" id="dmx3"/>
      <DMXLight name="Fresco5" number="4" id="dmx4"/>
      <DMXLight name="Fresco6" number="5" id="dmx5"/>
      <DMXLight name="Fresco7" number="6" id="dmx6"/>
      <DMXLight name="Fresco8" number="7" id="dmx7"/>
    </DMXLightManager>
  </LightManagers>

  <ControlGroups>
    <ControlGroup name="Frontline">
      <Lights>
        <Light id="dmx0"/>
        <Light id="dmx1"/>
        <Light id="dmx2"/>
        <Light id="dmx3"/>
        <Light id="dmx4"/>
        <Light id="dmx5"/>
        <Light id="dmx6"/>
        <Light id="dmx7"/>
      </Lights>
      <TriggerState>
      </TriggerState>
      <ControlMode>
      </ControlMode>
    </ControlGroup>
    <ControlGroup name="Bricks">
      <Lights>
        <Light id="brick13"/>
        <Light id="brick14"/>
        <Light id="brick9"/>
        <Light id="brick12"/>
        <Light id="brick17"/>
        <Light id="brick11"/>
        <Light id="brick16"/>
        <Light id="brick10"/>
        <Light id="brick8"/>
      </Lights>
      <TriggerState>
      </TriggerState>
      <ControlMode>
      </ControlMode>
    </ControlGroup>
  </ControlGroups>
</LightController>
